resource-reading/config/src/main/resources/META-INF/hero.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://gentryhuang.site/schema/people"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://gentryhuang.site/schema/people">

    <!-- 定义元素的复杂类型 -->
    <xsd:complexType name="elementComplexType">
        <!-- 定义模型类中的属性 -->
        <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The element name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="age" type="xsd:int">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The element age. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>

    <!-- 定义在xml文件中用到的元素名称 -->
    <xsd:element name="hero" type="elementComplexType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 定义标签 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
